@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee|Squada+One&display=swap');

body, p, form, .removeText {
    font-family: 'Avenir', 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin: 0px;
    text-align: left;
    background-color: lightsteelblue;
} 

.maincontainer {
    width: 5rem;
    height: 4rem;
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    display: inline-block;
    margin: 7px;
    position: relative;
    overflow: hidden;
}

.thecard {
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.thecard, .thefront, .theback {
    position: absolute;
    width: 100%;
    height: 100%;
}

.thecard.faceup {
    transform: rotateY(180deg);
}

.thefront, .theback {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    color: white;
}

.thefront  {
    background-color: black;
}

.theback  {
    transform: rotateY(180deg);
}

.cardimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: relative;
}

#gamespace {
    padding-left: 5%;
    padding-top: 15rem;
    padding-bottom: 50px;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#winner-message {
    width: 100%;
    height: 100%;
    background-color: lightsteelblue;
    position: fixed;
    z-index: 999;
    padding-top: 4rem;
    font-size: 8rem;
    top: 5rem;
    display: none;
}

#winning-page-button {
    margin: 0 auto;
}

.attempts, #winner-message {
    text-align: center;
    color:darkblue;
    font-family: 'Bungee';
}

.attempts {
    font-size: 60px;
}

.resetButton {
    width: 7rem;
    height: 3rem;
    font-size: 16px;
    font-weight: bold;
    background-color:lightgreen;
    font-family: 'Bungee';
    border-radius: 10%;
    margin-left: 10rem;
    margin-top: 1rem;
}

.resetButton:hover {
    background-color: rgba(20, 122, 92, 0.959);
    color: white;
    cursor: pointer
}

.blockdiv.on {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.flex-container {
    width: 85%;
    padding-left: 11%;
    padding-top: 5rem;
    position: fixed;
    z-index: 1;
    background-color: lightsteelblue;
}

a {
    color: darkgrey;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color:  rgb(87, 84, 84);
}

nav {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed; 
    z-index: 9999;
} 

nav a {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 5px;
    color: white;
    margin-right: 15px;
}

a:active {
    color: rgb(87, 84, 84);
}

nav a:hover {
    color: lightgrey;
}

nav a:first-child { 
    margin-right: auto; 
}

#logo {
    margin-right: auto;
    vertical-align: middle;
    height: 20px;
    width: auto;
}

.logo {
        width: 100px;
    }

@media screen and (max-width: 700px) {
    .attempts {
        font-size: 30px;
    }
    .flex-container {
        width: 100%;
        padding-left: 0;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    #gamespace {
        grid-template-columns: auto auto auto auto;
        padding-top: 360px;
    }
    
    .maincontainer {
        width: 9rem;
        height: 7rem;
        border-radius: 2rem;
        -moz-border-radius: 2rem;
        -webkit-border-radius: 2rem;
    }

    .logo {
        width: 9rem;
    }

    .flex-container {
        width: 80%;
        padding-left: 5%;
    }
    
    .resetButton {
        margin-left: 33%;
    }
}

@media screen and (min-width: 1000px){
    .resetButton {
        margin-right: 25%;
        margin-top: 0px;
        margin-left: 0px;
        width: 140px;
        height: 50px;
        font-size: 15px;
    }
    
    .attempts {
        font-size: 50px;
    }
   
    nav a {
        margin-right: 40px;
    }
    
    #logo {
        height: 25px;
    }

    .maincontainer {
        width: 9.5rem;
        height: 7.5rem;
        border-radius: 2rem;
        -moz-border-radius: 2rem;
        -webkit-border-radius: 2rem;
    }

    .logo {
        width: 9rem;
    }

    #gamespace {
        padding-left: 20%;
    }

    .resetButton {
        margin-right: 25%;
        margin-top: 20px;
        margin-left: 45%;
    }
}

@media screen and (min-width: 1400px){
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 15%;
        width: 100%;
    }
    #gamespace {
        grid-template-columns: auto auto auto auto auto auto;
        padding-left: 10%;
        padding-top: 200px;
    }

    .resetButton {
        margin-left: 0px;
        margin-top: 0px;
    }
}